.pokemon {
    padding-top: 20px;
}

.poki-container {
    display: grid;
    justify-content: center;
    justify-items: center;
        grid-template-columns: repeat(4, 1fr);


@media (max-width: 1200px) {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 890px) {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 600px) {
    display: grid;
        grid-template-columns: repeat(1, 1fr);
}
}

.pokemon-search {
    display: grid;
    justify-content: center;
}

input {
    width: 200px;
    text-align: center;
}

.center {
    padding-top: 45px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

select {
    width: 200px;
    text-align: center;
}